[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_OPTIONS = "--max_old_space_size=4096"
  
[[headers]]
  for = "/*"
  [headers.values]
    Feature-Policy = "payment 'self'; geolocation 'self';"
    Referrer-Policy = "same-origin"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
